<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Publications</h1><br> 
      <div class="publication">
        <p class="title">Dynamic Graph Attention Networks for Travel Time Distribution Prediction in Urban Arterial Roads</p>
        <p class="authors">Nooshin Yousefzadeh</p>
        <p class="journal">ITS World Congress</p>
        <p class="year">Year: 2025</p>
    </div>
    



                                            </div>
                                            <!-- End .blog -->
