<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Publications</h1><br> 
      <ul>
            <li>
                    <p class="title">Dynamic Graph Attention Networks for Travel Time Distribution Prediction in Urban Arterial Roads</p>
                    <p class="journal">ITS World Congress</p>
                    <p class="year">Year: 2025</p>
            </li>
            <li>
                    <p class="title">MTDT: A Multi-Task Deep Learning Digital Twin</p>
                    <p class="journal">IEEE Intelli- gent Transportation Systems Conference</p>
                    <p class="year">Year: 2024</p>
            </li>
            <li>
                    <p class="title">Graph Attention Network for Lane-Wise and Topology-Invariant Intersection Traffic Simulation</p>
                    <p class="journal">IEEE Transactions on Intelligent Transportation Systems Journal</p>
                    <p class="year">Year: 2024</p>
            </li>
            <li>
                    <p class="title">Neuron-level explainable AI for Alzheimer’s Disease assessment from fundus images</p>
                    <p class="journal">Scientific Reports 14.1: 7710. Journal</p>
                    <p class="year">Year: 2024</p>
            </li>
            <li>
                    <p class="title">Questionable Fairness in Federated Learning</p>
                    <p class="journal">International Conference on Data Science and Machine Learning Applications</p>
                    <p class="year">Year: 2024</p>
      </ul>
    



                                            </div>
                                            <!-- End .blog -->
