<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 
        <div class="section">
        <p><strong>Name:</strong> Nooshin Yousefzadeh</p>
        <p><strong>Education:</strong> Ph.D. Candidate in Computer Science, University of Florida - M.Sc. in Engineering Management, Polytechnic of Milan - B.Sc. in Robotic Engineering, Shahrood University of Technology</p>
        <p><strong>Research Interests:</strong> Computational Science, Information Theory, Deep Learning</p>
        <p><strong>Experience:</strong> Research Fellow, Big Data Analyst, System Functional Analyst, Data Scientist</p>
        <p><strong>Key Skills:</strong> Machine Learning Engineering, AI Architecture, Cloud Computing, Distributed Computing</p>
    </div>

</div>
<!-- End .resume -->
