<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 
    <div class="section">
        <p><strong>Name:</strong> Nooshin Yousefzadeh</p>
        <p><strong>Education:</strong> Ph.D. Candidate in Computer Science, University of Florida - M.Sc. in Engineering Management, Polytechnic of Milan - B.Sc. in Robotic Engineering, Shahrood University of Technology</p>
        <p><strong>Research Interests:</strong> Computational Science, Information Theory, Deep Learning</p>
        <p><strong>Experience:</strong> Research Fellow, Big Data Analyst, System Functional Analyst, Data Scientist, Strategic Business Data Analyst</p>
        <p><strong>Job Interests:</strong> Machine Learning Engineering, AI Architecture, Cloud Computing, Distributed Computing</p>
         <br>
        <p><strong>Key Skills:</strong></p>
        <p><strong>Programming & Computing  </strong></p> Python, Bash Scripting, Cluster Computing, SQL, R, Java, MATLAB, C, C++, Parallel Computation.
        <p><strong>Machine Learning & AI  </strong></p>  AI/ML Development, Deep Neural Networks, Generative Models, Transform- ers, Diffusion Models, Optimization Algorithms, Cognitive AI, Interpretable Fair AI, Probabilistic Graphical Networks.
        <p><strong>Data Science & Analytics  </strong></p>  Data Mining, Data Analytics, Machine Learning, Deep Learning, Graph Neural Networks, Probabilistic Models, Network Analysis, Statistical Analysis.
        <p><strong>Big Data & Distributed Systems  </strong></p> Apache Spark, Hadoop, Kafka, Azure Machine Learning, Apache Oozie, TensorFlow, PyTorch, DeepLearning4J, LibTorch.
        <p><strong>Cloud & DevOps  </strong></p> AWS, Azure ML, Google Cloud, MLOps, DevOps, Vertex AI, Kubernetes, Docker, MLflow, TensorBoard.
        <p><strong>Business Intelligence & Visualization  </strong></p> Tableau, Qlik Sense, Google Data Studio, Google Cloud, Looker, Microsoft Power BI, KNIME.
        <p><strong>System Design & Workflow Automation  </strong></p> UML, Requirements Analysis, Domain-Specific Language Modeling, Real-time Data Streaming, Kafka, Spring Boot, TPCO BW.
    </div>

</div>
<!-- End .resume -->
