<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Nooshin Yousefzadeh</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Nooshin Yousefzadeh</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">April, 1986</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Gainesville , FL</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">nooshinyousefzad@ufl.edu</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+1 352 888 3622</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">nooshinyousefzadeh.github.io</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Nooshin Yousefzadeh is a Ph.D. candidate with the Department of Computer and Information Science and Engineering, University of Florida, Gainesville, FL, USA. She received a M.Sc. degree in Engineering Management from Polytechnic of Milan University and a B.Sc. degree in Robotics Engineering from Shahrood University of Technology. Her current research interest is in explainable artificial intelligence and data-driven machine learning algorithms for practical applications in intelligent transportation, health care, and sustainability science.
        </p>
        
         

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">Research Interests</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fas fa-car"></i></div>
                <div class="service-detail">
                    <h6>Intelligent Transportation</h6>
                    <p>Optimize traffic signal control, enhance urban mobility, and improve transportation efficiency through predictive analytics.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-tree"></i></div>

                <div class="service-detail">
                    <h6>Trustworthy & Explainable AI</h6>
                    <p>Developing interpretable AI models that ensure fairness, transparency, and accountability in decision-making, with applications in critical domains such as healthcare and smart cities.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-heartbeat"></i></div>
                <div class="service-detail">
                    <h6>Healthcare</h6>
                    <p>Assessing the spectrum of neurodegenerative diseases like Alzheimer and Parkinson through non-invasive eye fundus photography.</p>
                </div>
            </div>
        </div>
     </div> 
</div><!-- End Services -->
<div class="clear"></div>
</div>
<!-- End .profile -->
